/* Body */

body{
	background-color: $DarkBlueMain;
	color: $White;
		font-family: Raleway, sans-serif;

}

html{
	box-sizing:box-boder;
	 scroll-behavior: smooth;
	    overflowY: hidden;
}



.container{

	width:100vw;
	height: 100vh;
	display: block;
}
