header{
	width: 100%;
}

#hero{
	@include flexbox;
	flex-direction:column;
	 text-align: center;
	img{
	    max-width: 400px;
	}

	h1,p{
	    width: 50%;
	}

	
}
/* call to action button*/
.heroButton{
	text-decoration: none; 
	color: $White;
	border-radius: 50px;
	margin-bottom: 4rem;
	margin-top: 2rem;
	padding: .6rem 4rem .6rem 4rem;
	@include gradient($CyanCalltoAction, $BlueCallToAction, horizontal);
	}
