/*Utilities*/
/* Primary */
/*Accent*/
/*Neutral */
/* GENERAL FEATURES*/
/* Body */
body {
  background-color: #181f2a;
  color: white;
  font-family: Raleway, sans-serif; }

html {
  box-sizing: box-boder;
  scroll-behavior: smooth;
  overflowY: hidden; }

.container {
  width: 100vw;
  height: 100vh;
  display: block; }

/*BODY 	FEATURES */
/* Nav*/
nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
  width: 100%; }
  nav img {
    position: absolute;
    top: 3rem;
    left: 3rem;
    max-width: 6rem; }
  nav section {
    justify-content: space-around;
    padding: 5rem 3rem 3rem 3rem; }
    nav section a {
      text-decoration: none;
      color: white;
      margin-left: 1rem;
      font-weight: 400;
      font-size: small; }

header {
  width: 100%; }

#hero {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center; }
  #hero img {
    max-width: 400px; }
  #hero h1, #hero p {
    width: 50%; }

/* call to action button*/
.heroButton {
  text-decoration: none;
  color: white;
  border-radius: 50px;
  margin-bottom: 4rem;
  margin-top: 2rem;
  padding: .6rem 4rem .6rem 4rem;
  background: #65e2d9;
  background: -webkit-linear-gradient(left, #65e2d9, #339ecc);
  background: linear-gradient(to right, #65e2d9, #339ecc); }

/*FEATURES*/
#features {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  #features section {
    width: 30%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem; }
    #features section h1, #features section p {
      text-align: center; }

/*ABOUT*/
#about {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row; }
  #about img {
    max-width: 400px;
    padding: 2rem; }
  #about section {
    flex: 1;
    padding: 4rem; }
    #about section span {
      border-bottom: solid #65e2d9 0.02rem;
      padding-bottom: .5rem; }
      #about section span a {
        color: #65e2d9;
        line-height: 2px;
        text-decoration: none;
        margin-right: .5rem; }
      #about section span img {
        padding: 1px 2px 0 0;
        position: absolute; }

#testimonials {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-image: url(../images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: 3rem 2rem;
  margin: 5rem 0; }
  #testimonials div {
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #202a3c;
    margin: 2rem;
    text-align: center;
    box-shadow: 1px 2px 45px #0b1523; }
    #testimonials div .testimonial-content {
      width: 80%;
      margin-top: 2rem; }
    #testimonials div section {
      padding: .4rem;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      width: -webkit-fill-available; }
      #testimonials div section img {
        height: 30px;
        border-radius: 100%;
        margin: 1rem; }
      #testimonials div section .persona {
        display: block;
        text-align: left;
        width: auto; }
        #testimonials div section .persona > * {
          margin: auto; }
        #testimonials div section .persona p {
          font-size: xx-small; }

#callToAction {
  background-color: #202a3c;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 6rem;
  border-radius: 10px;
  text-align: center; }
  #callToAction div input {
    color: grey;
    height: 1rem;
    width: 60%;
    border: none;
    border-radius: 15px;
    padding: .5rem; }
  #callToAction div a {
    padding: 0.6rem 1rem .6rem 1rem;
    font-size: x-small;
    margin-left: 1rem; }

footer {
  background-color: #0b1523;
  padding-top: 10rem;
  z-index: -1;
  position: absolute;
  margin-top: -5rem;
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }

section {
  padding: 2rem; }
  section .location {
    display: flex;
    align-items: center; }
    section .location img {
      width: 25px;
      margin-right: 1rem; }
  section .contact {
    padding: 0; }

.navMap {
  display: flex;
  flex: none; }
  .navMap ul {
    list-style: none; }
    .navMap ul li {
      margin-top: 1rem; }

.social {
  display: contents; }
  .social i {
    margin: 1rem; }

/*MEDIA QUERY*/
/* MOBILE*/
@media only screen and (max-width: 768px) {
  /*header */
  #hero img {
    max-width: 300px !important; }
  #hero h1 {
    width: 80%; }
  #hero p {
    width: 90%; }

  /*features */
  #features section {
    width: 80%; }

  /*about*/
  #about {
    flex-direction: column; }

  /*Testimonials */
  #testimonials {
    flex-direction: column; }
    #testimonials div {
      width: 100%; }

  /*call to action */
  #callToAction {
    padding: 2rem 3rem;
    width: 60%; }
    #callToAction p {
      width: 100%; }
    #callToAction div {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #callToAction div input {
        width: 100%; }
      #callToAction div a {
        width: 80%;
        margin-left: 0; }

  footer {
    flex-direction: column;
    align-items: baseline; }
    footer .social {
      display: inline;
      padding: 1rem 0; }

  .navMap {
    flex-direction: column; }

  .social {
    margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
