/* Nav*/

header{
	width: 100%;
	font-family: Raleway, sans-serif;
}
nav{
	@include flexbox;
	justify-content: flex-end;
	height:5rem;
	width: 100%;
	img{
	position:absolute;
	top:3rem;
	left:3rem;
	max-width: 6rem;
	
	}
	section{
	justify-content: space-around;
	padding:5rem 3rem 3rem 3rem;
	a{
	text-decoration:none;
	color: white;
	margin-left: 1rem;
	font-weight: 400;
	font-size: small;
	}
	}
}
#hero{
	@include flexbox;
	flex-direction:column;
	width: 100%;
	 text-align: center;
	img{
	    max-width: 400px;
	}

	h1,p{
	    width: 50%;
	}

	a{
	text-decoration: none; 
	color: $White;
	border-radius: 50px;
	margin-bottom: 4rem;
	margin-top: 2rem;
	padding: .6rem 4rem .6rem 4rem;
	@include gradient($CyanCalltoAction, $BlueCallToAction, horizontal);
	}
}
