#testimonials {
    @include flexbox;
    background-image: url(../images/bg-quotes.png);
    background-repeat: no-repeat;
        background-position: 3rem 2rem;
    margin: 5rem 0;
    div {
        flex: 1;
        @include flexbox;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $DarkBlueTestimonials;
        margin: 2rem;
        text-align: center;
            box-shadow: 1px 2px 45px $Dark-BlueFooter;

        .testimonial-content {
            width: 80%;
            margin-top: 2rem;
        }

        section {
            padding:.4rem;
            @include flexbox;
            width: -webkit-fill-available;

            img {
                height: 30px;
                border-radius: 100%;
                margin: 1rem;
            }

            .persona {

                display: block;
                text-align: left;
                width: auto;

                >* {
                    margin: auto;
                }

                p {
                    font-size: xx-small;
                }
            }


        }
    }
}